*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f9f7fe;
}
.container{
    margin: 100px auto;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
header{
    padding: 20px;
}
form{
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    border-radius: 10px;
}
#topic-input{
    width: 70%;
    padding: 10px;
    border-radius: 15px;
    border: none;
    outline: none;
    border: 1px solid #a85b64;
}
#topic-input:focus{
    border: 2px solid #a85b64;
}
#topic-submit{
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: #a85b64;
    box-shadow: 1px 6px 10px #e3cfde;
    color: white;
}
#topic-submit:hover{
    /* transition: all  ease-in; */
    transform: translateY(-2px);
}
#poem{
    padding: 5px 15px;
    font-size: 16px;
    line-height: 35px;
    border-left: 2px solid #a85b64;
    background-color: #fff;
    box-shadow:0px 20px 60px rgba(65, 50, 100, 0.08);
    
}
footer{
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    font-size: 12px;
}